*{
  font-family: Arial;
}
h1{
  text-align: center;
}
.flexbox-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
#board {
  border-collapse: collapse;
  width: 250px;
  height: 250px;
}
#board td {
  border: 2px solid black;
  width: 50px; 
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.add-word{
  margin-top: 20px;
}