{%extends 'base.html'%} {%block title%}Boggle Game{%endblock%} {%block style%}
<link rel="stylesheet" href="static/boggle.css" />
{%endblock%} {%block content%}
<h1>Welcome to the Boggle Game!!</h1>
<div class="flexbox-div">
  <div class="board-game-div">
    <section id="boggle">
      <table id="board">
        <tbody>
          {%for row in board%}
          <tr>
            {%for cell in row%}
            <td>{{cell}}</td>
            {%endfor%}
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </section>
  </div>
  <div class="active-area-div">
    <h2></h2>
    <form class="add-word" method="post">
      <input name="word" class="word" autofocus />
      <button class="submit-btn">Enter</button>
    </form>
    <h2 class="current-score">Score:</h2>
    <h2 id="countdown">Time Left: 60 seconds</h2>
    <div class="response-from-server"></div>
    <div>
      <ul class="client-correct-guess"></ul>
    </div>
  </div>
</div>
{%endblock%} {%block javascript%}
<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
<script src="/static/boggle.js"></script>
{%endblock%}
